ion-content {
  ion-avatar {
    width: 7rem;
    height: 7rem;
    position: relative;
    margin: 0 auto 1rem auto;
    
    & > ion-icon {font-size: 7rem;}
    ion-fab-button {
      right: 0;
      margin: 0;
      bottom: 0;
      width: 30px;
      height: 30px;
      position: absolute;
    }
  }
}