<ion-header>
  <ion-toolbar>
    <ion-title>Assessment</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="openSubscription()">
        <ion-icon slot="icon-only" name="key"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list *ngIf="items?.length">
    <ion-item button detail="false" lines="none" *ngFor="let item of items" color="dark" routerLink="/assessment/{{ item.id }}">
      <ion-label class="ion-text-center">{{ item.name }}</ion-label>
    </ion-item>
  </ion-list>

  <div id="list-empty" *ngIf="!items?.length">
    <div class="ion-text-center">
      <ion-icon color="primary" name="sad"></ion-icon>
      <h4>Nenhum item encontrado!</h4>
    </div>
  </div>
</ion-content>
