<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="goToBack()">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>{{ assessment?.name }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-progress-bar *ngIf="showingQuestion && !showSuccess" [value]="percentage"></ion-progress-bar>

  <ion-slides #slides [scrollbar]="true" [options]="slideOpts" (ionSlideDidChange)="slideChanged()" *ngIf="!showSuccess">
    <ion-slide *ngFor="let instruction of assessment?._instructions">

      <div [innerHtml]="instruction.text"></div>

    </ion-slide>
    <ion-slide *ngFor="let question of assessment?._questions; index as i">

      <ion-item lines="none" class="question">
        <ion-note slot="start">{{ i + 1 }}</ion-note>
        <ion-label class="ion-text-wrap" [innerHtml]="question.text"></ion-label>
      </ion-item>

      <!-- NEURO -->
      <ng-container *ngIf="question.type === 'neuro' && controls?.neuro">
        <ng-container [formGroup]="formGroup">
          <form formGroupName="neuro">
            <ion-radio-group class="neuro" formControlName="satisfaction">
              <ion-row>
                <ion-col size="3">
                  <ion-item button mode="md" lines="none">
                    <ion-label>
                      <ion-icon src="assets/icon/emotion-1.svg"></ion-icon>
                      <ion-radio [value]="1"></ion-radio>
                    </ion-label>
                  </ion-item>
                </ion-col>
                <ion-col size="3">
                  <ion-item button mode="md" lines="none">
                    <ion-label>
                      <ion-icon src="assets/icon/emotion-2.svg"></ion-icon>
                      <ion-radio [value]="2"></ion-radio>
                    </ion-label>
                  </ion-item>
                </ion-col>
                <ion-col size="3">
                  <ion-item button mode="md" lines="none">
                    <ion-label>
                      <ion-icon src="assets/icon/emotion-3.svg"></ion-icon>
                      <ion-radio [value]="3"></ion-radio>
                    </ion-label>
                  </ion-item>
                </ion-col>
                <ion-col size="3">
                  <ion-item button mode="md" lines="none">
                    <ion-label>
                      <ion-icon src="assets/icon/emotion-4.svg"></ion-icon>
                      <ion-radio [value]="4"></ion-radio>
                    </ion-label>
                  </ion-item>
                </ion-col>
              </ion-row>
            </ion-radio-group>
            
            <ion-radio-group class="neuro" formControlName="intensity">
              <ion-row>
                <ion-col size="3">
                  <ion-item button mode="md" lines="none">
                    <ion-label>
                      <ion-icon src="assets/icon/intensity-1.svg"></ion-icon>
                      <ion-radio [value]="1"></ion-radio>
                    </ion-label>
                  </ion-item>
                </ion-col>
                <ion-col size="3">
                  <ion-item button mode="md" lines="none">
                    <ion-label>
                      <ion-icon src="assets/icon/intensity-2.svg"></ion-icon>
                      <ion-radio [value]="2"></ion-radio>
                    </ion-label>
                  </ion-item>
                </ion-col>
                <ion-col size="3">
                  <ion-item button mode="md" lines="none">
                    <ion-label>
                      <ion-icon src="assets/icon/intensity-3.svg"></ion-icon>
                      <ion-radio [value]="3"></ion-radio>
                    </ion-label>
                  </ion-item>
                </ion-col>
                <ion-col size="3">
                  <ion-item button mode="md" lines="none">
                    <ion-label>
                      <ion-icon src="assets/icon/intensity-4.svg"></ion-icon>
                      <ion-radio [value]="4"></ion-radio>
                    </ion-label>
                  </ion-item>
                </ion-col>
              </ion-row>
            </ion-radio-group>
          </form>
        </ng-container>
      </ng-container>

      <!-- OBJECTIVE -->
      <form [formGroup]="formGroup" class="ion-margin-top" *ngIf="question.type !== 'neuro' && controls?.alternative">
        <ion-radio-group formControlName="alternative">
          <ion-item lines="none" mode="md" *ngFor="let alternative of question.alternatives; index as alternativeId">
            <ion-radio slot="start" class="ion-margin-end" [value]="alternative.type || alternativeId"></ion-radio>
            <ion-label class="ion-text-wrap">{{ alternative.text }}</ion-label>
          </ion-item>
        </ion-radio-group>
      </form>
    </ion-slide>
  </ion-slides>

  <div id="vertical-align" *ngIf="showSuccess">
    <div class="container ion-text-center">
      <h2>Obrigado por suas respostas</h2>
      <h2>Seu tempo de conclusão</h2>
    </div>
  </div>

  <ion-fab vertical="bottom" horizontal="start" slot="fixed" *ngIf="!isBeginning && !showSuccess">
    <ion-fab-button color="dark" (click)="prev()">
      <ion-icon name="caret-back"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed" *ngIf="!isBeginning && !isEnd && !showSuccess">
    <ion-fab-button color="dark" (click)="next()">
      <ion-icon name="caret-forward"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>

<ion-footer *ngIf="activeIndex === assessment?._instructions.length - 1 || isEnd || showSuccess">
  <ion-button type="button" expand="block" color="dark" *ngIf="!showSuccess" (click)="next()">
    <span *ngIf="isEnd">Finalizar</span>
    <span *ngIf="activeIndex === assessment?._instructions.length - 1">Iniciar o Assessment</span>
  </ion-button>

  <ion-button type="button" expand="block" color="dark" *ngIf="showSuccess" (click)="goToBack()">
    Sair
  </ion-button>
</ion-footer>